/*Generales*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

/*EMPIEZA MENU*/

header {
    position: fixed;
    width: 100%;
}

header nav {
    background: #436fac;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.menu_bar {
    display: none;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #fff;
    color: #436fac;
}

.title{
    color: #fff;
    padding-top: .5em;
    padding-left: 1em;
    float: left;
    font-family: 'Roboto', sans-serif;
}

/*Content*/

.content{
    margin: auto;
    width: 80%;
    padding-top: 5em;
    font-family: 'Roboto', sans-serif;
    color: #5e5e5e;
}

.content a{
    text-decoration: none;
    color: #5e5e5e;
}

.content a:hover{
    /*color: #ec2c32;*/
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #436fac;
    color: white;
    font-family: 'Roboto', sans-serif;
}

 tr:hover {background-color: #d1e6ec}

 span.error{
    color: red;
    font-size: 50%;
 }

 /* Forms */
 form {
     font-family: 'Roboto', sans-serif;
     margin-top: 1em;
     color: #5e5e5e;
 }

 form label {
     display: block;
     float: left;
     width: 150px;
     padding: 0;
     margin: 9px 0 0;
     text-align: right;
 }

 form input[type=text], form select {
     width: 20em;
     margin: 5px 0 0 10px;
     border: 1px solid #436fac;
     padding: .8em .5em;
     border-radius: .3em;
}

form input[type=submit]{
    border: 1px solid #436fac;
    width: 8em;
    padding: .5em;
    background: #436fac;
    color: #fff;
    font-size: 16px;
    margin: .5em;
    border-radius: .3em;
}

form input[type=submit]:hover {
     cursor: pointer;
     background: #fff;
     color: #436fac;
}

form input[type=button]{
    border: 1px solid #436fac;
    width: 8em;
    padding: .5em;
    background: #436fac;
    color: #fff;
    font-size: 16px;
    margin-top: .5em;
    border-radius: .3em;
}

form input[type=button]:hover {
     cursor: pointer;
     background: #fff;
     color: #436fac;
}


 form br {clear: left;}
 
 fieldset{
     border: .2em solid #436fac;
     border-radius: .3em;
     padding: .5em;
 }

 div.boton{
     margin-right: 3px;
     background:  #234f8c;
     width: 5em;
     float: left;
     border: solid black 1px;
     text-align: center;
 }

 pre {
     white-space: pre-wrap;       /* CSS 3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }


  span.error{
     color: red;
     font-size: 50%;
  }

 i{
   color: #5e5e5e;
 }

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #436fac;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

 #footer i{
   color: #fff;
 }


/*ESTILO EN MOVILES*/

@media screen and (max-width:800px) {
    * {
        margin: 0;
        padding: 0;
    }
    /*MENU*/
    header nav {
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
        width: 40%;
    }
    header nav ul li {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        display: block;
        float: none;
    }
    .menu_bar {
        background: #ccc;
        display: block;
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }

    .menu_bar .bt-menu {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #436fac;
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        text-decoration: none;
        cursor: default;
    }
    #btn{
        cursor: pointer !important;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    .title{
        display: none;
    }

    .content{
        margin: auto;
        width: 100%;
        padding-top: 5em;
        padding-left: 1em;
        font-family: 'Lato', sans-serif;
    }
}
